<div class="main-container">
    <header>
        <div class="search-container">
            <input type="text" placeholder="Search.." >
            <button class="search-button" type="submit"><i-bs name="search"></i-bs></button>
        </div>
        <button routerLink="/job" class="job">Job</button>
    </header>
    <div class="d-flex ">
        <div class="blocks b1">
            <div>Test _1</div>
            <div>Test _2</div>
            <div>Test _3</div>
        </div>
        <router-outlet></router-outlet>
    </div>

</div>